@import url(https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i);


.zoomer {
    transition: .5s;
    cursor: pointer;
}

.zoomer:hover {
    transform: scale(1.1);
}

.rotateme {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotateZ(0deg)
    }
    from {
        transform: rotateZ(360deg)
    }
}

#element {
    font-size: 6vh;
    font-weight: 600;
}

.font-1 {
    font-family: 'Barlow', sans-serif;
}

.bg-dark-gray {
    background-color: #2a2a2a;
}